<div class="jumbotron">
  <h1 class="display-4"><%= @explorer.first_name %> <%= @explorer.last_name %></h1>
  <p class="lead">
   <%= @explorer.email %>   |
   <%= @explorer.phone %>   |
   <%= @explorer.twitter %>  
  </p>
  <br/>
  <%= link_to 'Edit', edit_explorer_path(@explorer), class:"btn btn-secondary" %>
  <%= link_to 'Delete', @explorer, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
  <%= link_to 'Back', explorers_path, class:"btn btn-dark" %>
</div>
